html {
  font-family: Dosis, sans-serif;
  text-align: center;
  box-sizing: border-box;
  line-height: 1.5;
}

*, *::before, *::after {
	box-sizing: inherit;
}

h1 {
  background-color: f0f1eb;
  color: 4f2910;
  font-weight: bold;

}

.nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.nav a {
  background-color: #9A816d;
  border-radius: 4px;
  color: #000;
  text-decoration: none;
  padding: .5em .75em;
  display: inline-block;
}

.nav a:hover {
  background-color: 795637;
}
